@model MvcApplication1.Models.AdditionModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdditionPractice</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>@model.Lhs</td>

            </tr>
        </table>
    </div>
</body>
</html>
