@model MvcApplication1.Models.ExpandedFormModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlaceValuePractice</title>
</head>
<body>
    <div>
        <h1>Place Value</h1>
        <table>
            @for(int i=0;i< @Model.Digits.Count; i++)
            {
            <tr>
                <td>

                </td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
