@model MvcApplication1.Models.SubtractModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubtractPractice</title>
</head>
<body>
    <div>
        <h1>Subtraction</h1>
        <table>
            @for(int i=0;i< @Model.Equations.Count; i++)
            {
            <tr>
                <td>@Model.Equations[i].Lhs</td>
                <td> - </td>
                <td>@Model.Equations[i].Rhs</td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
